.DS_Store
*.swp

node_modules
./node_modules
node_modules/**
**/node_modules

**/coverage
**/build
**/_logs_

yarn-error.log
**/yarn-error.log

src/graphql/generated.ts
.env
.vscode/launch.json
mercurius-schema.json
TODO